In [1]:
import pandas as pd
df=pd.DataFrame([[123,125],[11,20],[20,8]],columns=['a','b'])

In [2]:
%time
df

Wall time: 0 ns

     a    b
0  123  125
1   11   20
2   20    8

In [3]:
from sklearn.preprocessing import StandardScaler

In [4]:
df1=df.copy()
df2=df.copy()

In [5]:
sc=StandardScaler()
dl=sc.fit_transform(df)
dl

array([[ 1.41051097,  1.40805585],
       [-0.79382245, -0.58986124],
       [-0.61668852, -0.81819462]])

In [6]:
def standard_scaler(df):
    for i in df.columns:
        clm=df[i]
        
        #finding Mean
        mean = clm.mean()
        
        #finding the STD
        x=df[i].values
        #count the elements
        elemnt=len(x)
        
        Total=sum(x)
        
        mean=Total/elemnt
       
        #Find each score’s deviation from the mean
        deviation=[]
        for e in x:
            val=((e - mean)**2)
            
            deviation.append(val)
        sum_deviation=sum(deviation)
        
        #Find the variance
       # Divide the sum of the squares by n – 1 (for a sample) or N (for a population) – this is the variance.
        variance=(sum_deviation/elemnt)
        
        #FINDING THE STANDARD DEVIATION
        STD=variance**(1/2)
        
        
        k=df[i].values
        new=[]
        #z = (x - u) / s
        for v in k:
            
            vk=(v-mean)/STD
            
            new.append(vk)
        df[i]=new
    arr=df.to_numpy()
    return arr

In [7]:
kl=standard_scaler(df2)

In [8]:
kl

array([[ 1.41051097,  1.40805585],
       [-0.79382245, -0.58986124],
       [-0.61668852, -0.81819462]])

In [9]:
type(kl)

numpy.ndarray

In [16]:
type(dl)

numpy.ndarray