In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([[123,125],[11,20],[20,8]],columns=['a','b'])

In [3]:
df

     a    b
0  123  125
1   11   20
2   20    8

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
mn=MinMaxScaler()

In [6]:
df1=df.copy()

In [7]:
df2=df1.copy()

In [8]:
gh=mn.fit_transform(df)
gh

array([[1.        , 1.        ],
       [0.        , 0.1025641 ],
       [0.08035714, 0.        ]])

In [9]:
def normalize(df):
    for i in df.columns:
        clm=df[i]
        print(i)
        min_ = np.min(clm)
        max_ = np.max(clm)
        k=df[i].values
        new=[]
        for v in k:
            vk=((v - min_) /(max_ - min_))
            new.append(vk)
        df[i]=new
    arrey=df.to_numpy()
    
    return arrey
normalize(df2)

a

b

          a         b
0  1.000000  1.000000
1  0.000000  0.102564
2  0.080357  0.000000

In [10]:
df2

          a         b
0  1.000000  1.000000
1  0.000000  0.102564
2  0.080357  0.000000